#box-search li a:link, #box-search li a:visited{text-decoration: none;}

#criterio_buscar{
    position: fixed;
    top: 22px;
    width: 100%;
    /*padding: 20px;*/
    z-index: 10;
}

#criterio_buscar input{
    display: block;
    font-size: 18px;
    width: 480px;
    padding: 10px;
    margin-left: 40px;
    outline: 0;
    border: white, 1px;
    background: black;
    color: whitesmoke;
}

#criterio_buscar{
    display: flex;
    justify-content: center;
    display: inline-block;
    left: 90%;
    transform: translatex(-50%);
}

#box-search{
    position: fixed;
    top: 63px;
    left: 53.163%;
    transform: translatex(-50%);
    width: 500px;
    z-index: 9;
    list-style: none;
    display: none;
}

ul{
    margin-left: 90px;
    padding: 0;
}

/*li{
    display: flex;
    justify-content: center;
}*/

#box-search li{
    margin: 0;
}
#box-search li a{
    display: block;
    list-style: none;
    padding: 15px 26px;
    background: rgba(0, 0, 0, 0.966);
    color: white;
}

#box-search li a:hover{
    background: rgb(124, 79, 133);
}

/*#screenBlackSearch{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    background: rgb(0, 0, 0, 0.5);
    z-index: 6;
    display: none;
}*/
