/* * {
    margin:0px;
    padding:0px;
}

#ctn-menu {
    margin:auto;
    display: inline-block;
    justify-content: center;
    width:400px;
    font-family:Arial, Helvetica, sans-serif;
    position: absolute;
    top: 0%;
    transform: translate(50%, 50%);
    margin-left: 0px;
    padding-left: 0px;
    margin-top: 10px;
    display: flex; */
    /* justify-content: space-between; */
    /* outline: 1px solid white; */
/*     
}

ul{
    list-style:none;
    display: flex;
    flex-grow: row;
}

.menuHorizontal > li {
    float:left;
    
}

.menuHorizontal li a {
    background-color:#000;
    color:#fff;
    text-decoration:none;
    padding:10px 1px;
    display:inline-block; */
    /* outline: 1px solid yellow; */
/* } */
/* 
.menuHorizontal li a:hover {
    outline: 2px solid rgb(194, 0, 243);
    background-color:#141414;
    border-radius: 3px;
    
}

.menuHorizontal li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.menuHorizontal li:hover > ul {
    
    display:block;
}

.menuHorizontal li ul li {
    position:relative;
}

.menuHorizontal li ul li ul {
    right:-140px;
    top:0px;
}

li{
    margin-right: 5px;
} */

* {
    margin:0px;
    padding:0px;
}

#ctn-menu {
    margin:auto;
    display: inline-block;
    justify-content: center;
    width:500px;
    font-family:Arial, Helvetica, sans-serif;
    position: absolute;
    top: 5%;
    transform: translate(50%, 50%);
    margin-left: -120px;
   
    
}

ul{
    list-style:none;
}

.menuHorizontal > li {
    float:left;
}

.menuHorizontal li a {
    background-color:#000;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:inline-block;
}

.menuHorizontal li a:hover {
    background-color:#000000;
    outline: 2px solid rgb(196, 1, 255);
    border-radius: 3px;
    
}

.menuHorizontal li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.menuHorizontal li:hover > ul {
    
    display:block;
}

.menuHorizontal li ul li {
    position:relative;
}

.menuHorizontal li ul li ul {
    right:-140px;
    top:0px;
}
li{
    margin: 4px;
}